
.form-sec {
    display: indline-block;
    height: 700px;
  }

  .row {
      position: relative;
      transform: translatey(50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
input.ng-invalid.ng-touched {
    border: 1px solid red;
}