
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #b3f542;
}

.nav-item {
    color: #000000;
}

.dropdown-item {
    color: #000000;
}

img {
    vertical-align: middle;
    border-style: none;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1098;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }

.dropdown:hover>.dropdown-menu {
    display: block;
  }  

.dropdown-item {
    margin: 0 8px 0 0;
    position: relative;
    padding: 20px 0 0 6px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    cursor: pointer;
}

.whatsapp-cls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    max-width: 50px;
    box-shadow: 2px 1px 10px #333333;
}

.whatsapp-cls img {
    max-width: 50px;
}


@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:active .nav-link{ color: #fff;}
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}