
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Resonance Kota, the Best Coaching Institute, is now in Vizag! Enroll for IIT/JEE coaching at your nearest location. It's a 2-year JEE (Main+Advanced) long-term course to crack IIT/JEE.">
  
    <title> IIT JEE Mains & Advanced Coaching - Resonance Vizag</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  
<section class=" main-navbar ">
    <header>
        <nav class="navbar smart-scroll navbar-expand-lg">
              <!--  Navigation Bar Section 
                Bootstrap Navigation bar with Resonance logo which on clicked navigates to the main Resonance Website -->
    
                <a href="https://www.resonance.ac.in/" target="_blank" class="navbar-brand"><img src="assets/Logo.jpg" alt="image"> </a>
    
                <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                    <span class="icon-bar"></span>
    
                    <span class="icon-bar"></span>
    
                    <span class="icon-bar"></span>
                </button>
    
                <div class="navbar-collapse collapse" id="myNavbar" style="">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active" role="presentation">
                            <a routerLink="/home" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#aboutUS" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABOUT US
                              </a>
                            <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/aboutUs/whyResonance">WHY RESONANCE</a>
                                <a class="dropdown-item" href="/aboutUs/ourMission">Our Mission</a>
                              </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#ourCourses" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                OUR COURSES
                              </a>
                            <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/ourCourses/Foundation">FOUNDATION</a>
                                <a class="dropdown-item" routerLink="/ourCourses/IIT">IIT COACHING</a>
                                <a class="dropdown-item" routerLink="/ourCourses/NEET">NEET COACHING</a>
                                <a class="dropdown-item" routerLink="/ourCourses/LongTerm">LONGTERM COACHING</a>
                              </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#achievements" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ACHIEVEMENTS
                              </a>
                            <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/achievements/JEEResults">JEE Main & Advanced Results</a>
                                <a class="dropdown-item" routerLink="/achievements/EAMCET">EAMCET Results</a>
                              </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#lifeOnCampus" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                LIFE ON CAMPUS
                              </a>
                            <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/campusLife/Labs">Science & Computer Labs</a>
                                <a class="dropdown-item" routerLink="/campusLife/Library">Library & Study Materials</a>
                                <a class="dropdown-item" routerLink="/campusLife/boardingFacilities">Hostel & Boarding Facilities</a>
                                <a class="dropdown-item" routerLink="/campusLife/foodAndHealth">Food,Dining & Health</a>
                              </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" routerLink="/signIn">ONLINE CLASSES</a>
                        </li>
    
                    </ul>
                </div>
        </nav>
    </header>    
</section>

<router-outlet></router-outlet>

<!-- WhatsApp Connect -->
<!-- TO DO -->
<!-- 1.Optional - WhatsApp icon click not functional when it hovers on automatic responsive image slides -->
<div class="whatsapp-cls">
    <a href="https://wa.me/918463900604?text=Hello%20Resonance%20Hyderabad%20,%20need%20more%20details%20on%20the%202-year%20academic%20program%20&amp;%20fee%20details.%20Contact%20me%20via%20call%20on%20this%20number." target="_blank">
        <img src="https://resonancehyderabad.com/images/whatsapp-icon.png" class="img-responsive">
    </a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>